@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");

html {
  height: 100%;
}

#root {
  min-width: 750px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fffcf8 0%, #ffe6c3 100%);
}

.page-content {
  min-height: 100vh;
}

.logo {
  font-family: "Megrim", cursive;
  font-size: larger;
}

.dropdownMenu {
  overflow: scroll;
}

.content {
  height: 48px !important;
  width: 290px;
}

.ui.masthead {
  padding: 10%;
  background-image: url("./images/dPYVR8LdYy.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: 100% 102% !important;
  background-position: center;
  width: 100% !important;
}

.cardClass {
  margin-bottom: 25px !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.cardContent {
  display: flex;
  height: 100px !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardExtraContent {
  height: 65px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchResults {
  display: flex;
  justify-content: center;
}

.gridColumn {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.margin {
  margin-left: 10px;
  margin-right: 10px;
}
h2 {
  text-align: center;
}

.detailDisplay {
  padding: 60px;
}

.detailDisplayInfo {
  padding: 40px;
}

.detailDisplayTitle {
  font-size: 40px;
}

.detailDisplayInstruction {
  padding: 50px;
  font-size: large;
}

.searchBarDisplay {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input {
  width: 600px;
  font-size: 16px;
}

button {
  color: black;
  height: 43px;
  background-image: linear-gradient(
    135deg,
    #fff5e1 0%,
    #ffcc8a 37%,
    #fcd98d 100%
  ) !important;
}

.singleRecipeImage {
  border: 18px solid transparent;
  border-image: url("https://www.seekpng.com/png/full/99-990217_transparent-wave-orange-border-no-background.png")
    20 stretch;
  border-radius: 30px;
  padding: 0px;
}

.footer {
  width: 100%;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
  padding-bottom: 30px;
}

.footerNames {
  margin: 0px 10px 0px 10px;
  padding: 0 !important;
}

#homeLogo {
  font-family: "Megrim", cursive;
}

.form-container {
  width: 400px;
  margin: auto;
}
